.userpost {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__header-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 40px 0 50px;
    width: 100%;
    a {
      margin-right: 80px;
    }
    &__header {
      width: 40%;
    }
  }
}
